@font-face {
    font-family: (Roboto);
    src: url(./fonts/Roboto-Black.woff);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-wrap: nowrap;
}

.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0px 10px;
}

.background{
    background-image: url(./img/Rectangle\ 2756.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    width: 100%;
}

.photo__link{
    color:  #FFF;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px; 
    letter-spacing: -0.4px;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.photo__link a{
    color:  #FFF;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.4px;
    text-decoration-line: underline;
}

.form{
    max-width: 456px;
    max-height: 900px;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFF;
    padding: 50px;
}

.logo__box{
    width: 100%;
    height: 100%;
    max-height: 50px;
    display: flex;
    margin-bottom: 50px;
}

.logo__box img{
    margin-right: 10px;
}

.nice{
    color:  #1A1A1A;
    font-family: Poppins;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px; 
}

.ui__h2{
    max-height: 15px;
}

.label{
    color: var(--black-800333333, #333);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; 
    letter-spacing: 0.3px;
    margin: 0px 0px 8px 16px;
}

.input__field{
    max-width: 360px;
    width: 100%;
    max-height: 32px;
    height: 100%;
    color: #808080;
    padding: 8px 8px 8px 16px;
    border-radius: 6px;
    border: solid 1px #808080;
    margin-bottom: 16px;
}

.input__field::placeholder{
    color:  #808080;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}

.label__checkbox{
    color:  #1A1A1A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.3px;
}

.label__checkbox::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #FFF;
    border: solid 1px #e5e5e5;
    border-radius: 20px;
    transition: 0.2s;
    right: 332px;
    
}

.label__checkbox::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #FFF;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: 1;
    bottom: 607px;
    right: 355px;

}

.checkbox:checked ~ .label__checkbox::before{
    transform: translateX(20px);
}

.checkbox:checked ~ .label__checkbox::after{
    background-color: #007AFF;
}

.forgot__password{
    color:  #007AFF;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px; 
    letter-spacing: 0.3px;
    text-decoration: none;
}

.button{
    width: 312px;
    height: 40px;
    background-color: #00A4E5;
    border: #00A4E5;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 10px 24px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
}

.line{
    border-bottom: solid 1px #E5E5E5;
    margin-bottom: 30px;
}

.remember__box{
    margin-top: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.google__button{
    width: 312px;
    height: 40px;
    background-color: #333333;
    border:  #333333;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 10px 24px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
}

.google__button img{
    padding-right: 10px;
}

.google__button:hover{
    cursor: pointer;
}

.text__box{
    display: flex;
    justify-content: center;
}

.text__box p{
    color:  #1A1A1A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px; 
    letter-spacing: 0.3px;
    margin-right: 5px;
}

.text__box a{
    color: var(--system-blue-007-aff, #007AFF);
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px; 
    letter-spacing: 0.3px;
    text-decoration: none;
    margin-bottom: 330px;
}

.text__box2{
    display: flex;
    justify-content: space-between;
}

.figma{
    display: flex;
}

.figma img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.figma a{
    color:  #007AFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px; 
    letter-spacing: -0.4px;
    text-decoration: none;
}

.text__box2 p{
    color: #666;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px; 
    letter-spacing: -0.4px;
    
}

.logo__box2{
    display: none;
}


@media (min-width: 2500px) {
    .form {
        margin-top: 438px;
    }

    .label__checkbox::before{
        bottom: 960px;
    }

    .text__box a {
        margin-bottom: 215px;
    }

}

@media (min-width: 1024px) and (max-width: 1439px) {
    .form{
        padding: 25px;
    }

    .text__box a{
        margin-bottom: 285px;
    }

    .label__checkbox::before{
        bottom: 545px;
        right: 326px;
    }

    .remember__box{
        justify-content: space-evenly;
    }

    .label__checkbox::after{
        right: 305px;
    }

}


@media (width: 1440px){
    .label__checkbox::before{
        bottom: 617px;
        right: 356px;
    }

}




@media (min-width: 320px) and  (max-width: 800px){
    .background{
        display: none;
    }

    .logo__box{
        display: none;
    }

    .form{
        padding: 1px;
    }

    .logo__box2{
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .text__box{
        margin-bottom: 100px;
    }

    .text__box a{
        margin: 0;
    }

    .label{
        display: none;
    }

    .container{
        padding: 15px 15px;
    }

    .input__field{
        margin-bottom: 12px;
        width: 100%;
    }

    .remember__box{
        justify-content: space-around;
    }

    .label__checkbox::before{
        bottom: 697px;
        right: 286px;
    }

    .label__checkbox::after{
        right: 262px;
    }

    .button{
        width: 100%;
    }

    .google__button{
        width: 100%;
    }

}

@media (width: 768px) {
    .form{
        margin: 200px 200px;
    }

    .label__checkbox::after{
        right: 510px;
    }

    .label__checkbox::before{
        bottom: 497px;
        right: 535px;
    }
}

@media (width: 375px) {
    .background{
        display: none;
    }

    .logo__box{
        display: none;
    }

    .form{
        padding: 1px;
    }

    .logo__box2{
        display: flex;
        width: 100%;
        height: 100%;
        max-height: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .text__box{
        margin-bottom: 100px;
    }

    .text__box a{
        margin: 0;
    }

    .label{
        display: none;
    }

    .container{
        padding: 15px 15px;
    }

    .input__field{
        margin-bottom: 12px;
        width: 100%;
    }

    .remember__box{
        justify-content: space-around;
    }

    .label__checkbox::before{
        bottom: 697px;
        right: 341px;
    }

    .label__checkbox::after{
        right: 318px;
    }

    .button{
        width: 100%;
    }

    .google__button{
        width: 100%;
    }
}

@media (width: 425px) {
    .input__field{
        max-width: none;
    }

    .label__checkbox::after{
        right: 362px;
    }

    .label__checkbox::before{
        right: 386px;
    }
}